<div class="ordercallform">
    <div class="backgroundhide">
        <div class="form">
            <form name="ordercall" class="ordercallsent" method="post">
                <div class="close"></div>
                <div class="header">{$headerText}</div>
                <div class="headerinfo">{$headerInfoText}</div>

                <div class="hideform">
                    <div class="headerblock">{$contactInfoText}</div>

                    <div class="namefield">
                        <div class="field">
                            {$nameLabel}
                            <span class="red"></span>
                        </div>
                        <input name="name" type="text">
                        <div class="message"></div>
                    </div>

                    <div class="namefield">
                        <div class="field">
                            {$phoneLabel}
                            <span class="red"></span>
                        </div>
                        <input name="phone" type="text" class="phonemask">
                        <div class="message"></div>
                    </div>

                    <div class="headerblock timeline">
                        <div class="title">{$callTimeLabel}</div>
                        <div class="line"></div>
                        <div class="polzunok"></div>
                        <div class="result" id="resulttime"></div>
                        <input type="hidden" value="" name="timefrom">
                        <input type="hidden" value="" name="timeto">
                    </div>

                    <div class="headerblock">
                        <div class="title">{$commentLabel}</div>
                        <textarea name="comment"></textarea>
                    </div>

                    {if $captcha}
                    <div class="captcha">{$wa->captcha()}</div>
                    <div class="errorbot">{$captchaError}</div>
                    {/if}

                    {if $agree}
                    <div class="agreeblock">
                        <label class="containercheck">
                            {$agreeText}
                            <a href="{$policyLink|escape}" target="_blank">{$personalDataLinkText}</a>
                            <input class="agreeform" name="checked" type="checkbox"/>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    {/if}

                    <input type="submit" value="{$submitButtonText}" class="buttonOrdercal" name="button" disabled>
                </div>
            </form>
        </div>
        <div class="box_shadow"></div>
    </div>
</div>

